.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 16px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 250ms ease-in 0.5s, opacity 250ms ease-out;
  /* property name | duration | easing function | delay */
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 730px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
  gap: 32px;
  font-family: "Poppins", arial, sans-serif;
}

.modal__content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  max-width: 80vw;
  max-height: 80vh;
  align-items: flex-start;
}

.modal__preview-image {
  max-width: 100%;
  max-height: 540px;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  margin: 10px 0 0 0;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  border-radius: 4px;
  font-weight: 500;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px;
  cursor: pointer;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-color 0.3s;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

#preview-modal .modal__close-btn {
  background-image: url(../images/close-light.svg);
  top: -40px;
  right: -40px;
  opacity: 1;
}

#preview-modal .modal__close-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Poppins", arial, sans-serif;
  font-weight: 500;
}

.modal__label {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", arial, sans-serif;
}

.modal__input {
  display: flex;
  gap: 10px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  transition: border-color 0.3s;
  box-sizing: border-box;
  font-family: "Poppins", arial, sans-serif;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input:filled {
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__content {
    padding: 0;
    width: 288px;
    max-width: 100%;
    max-height: none;
  }

  .modal__preview-image {
    width: 100%;
    max-width: 100%;
    max-height: none;
    object-fit: contain;
    border-radius: 8px;
  }

  .modal__caption {
    margin: 0;
    font-size: 12px;
    padding: 10px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    width: 20px;
    height: 20px;
    top: 12px;
    right: 12px;
  }

  #preview-modal .modal__close-btn {
    top: -30px;
    right: 0px;
  }

  .modal__label {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .modal__input {
    padding: 12px 8px;
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
