.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 5%;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  max-width: 420px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  max-width: 420px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  opacity: 70%;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  margin-top: auto;
  width: 107.34px;
  height: 16px;
  border: none;
  background-color: transparent;
  color: #212121;
  opacity: 70%;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-weight: 500;
}

.profile__edit-btn:hover {
  color: #212121;
  opacity: 80%;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  white-space: nowrap;
  font-weight: 500;
}

.profile__add-btn:hover {
  background-color: #212121;
  color: #fcf5e5;
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 764px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    /* max-height: 274px; */
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__column {
    align-items: center;
    padding: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 0 12px;
    max-width: 288px;
  }

  .profile__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    width: 84px;
    height: 16px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    gap: 4px;
    padding: 0 0 20px;
  }

  .profile__add-btn {
    width: 288px;
    height: 52px;
    padding: 18px 32px 18px 32px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    justify-content: center;
  }
}
